<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head th:replace="header::commonHeader('私信')">
</head>
<link rel="stylesheet" media="all" href="../styles/letter.css">
<body class="posts_show">
    <div th:replace="header::commonNav"></div>
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-chatlist">
            <div th:each="msg:${messages}">
            <li id="msg-item-4009580">
            <a class="list-head">
            <img alt="头像" th:src="${msg.get('otherUser').getHeadUrl()}">
            </a>
            <div class="tooltip fade right in">
            <div class="tooltip-arrow"></div>
            <div class="letter-info">
            <p class="letter-time"></p>
            </div>
            <p class="chat-content">
                <span th:text="${msg.get('fromUser').getName()}"></span>&nbsp;&nbsp;send
                to&nbsp;<span th:text="${msg.get('toUser').getName()}"></span>:
                <span th:text="${msg.get('message').getContent()}"></span>
            </p>
            </li>
            </div>
                <hr />
            </ul>

        </div>

    </div>

    <footer th:replace="footer::foot">
    </footer>
</body></html>