<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head th:replace="header::commonHeader('私信')">
</head>
<body class="posts_show">
    <div th:replace="header::commonNav"></div>
    <div class="zu-global-notify" id="zh-global-message" style="display:none">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
            <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
            <span class="zu-global-notify-icon"></span>
            <span class="zu-global-notify-msg"></span>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <div th:each="ls:${conversations}">
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" ></a>
                    <div class="chat-headbox">
                        <span class="msg-num" th:text="${ls.get('unread')}">
                        </span>
                        <a class="list-head">
                            <img alt="头像" th:src="${ls.get('user')!=null?
                            ls.get('user').getHeadUrl():'http://images.nowcoder.com/head/706t.png'}">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a th:href="'/msg/detail?conversationId='+${ls.get('message').getConversationId()}">
                                <span th:text="${ls.get('message').getContent()}"></span>
                            </a>
                        </p>
                    </div>
                </li>
                </ul>

        </div>
    </div>


<div th:replace="footer::foot">
</div>

</body></html>